<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style1.css">
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="row">
                <div class="col-sm-2"><a href="#"><img src="https://baomoi.com/images/default-skin/bm-logo.png"
                            alt=""></a>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="Nhập nội dung tìm kiếm">
                    <i class="fas fa-search search"></i>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 login">
                    <img src="https://s240-ava-talk.zadn.vn/7/8/7/9/0/240/991c9d2f1d09ec4260525817c605adcd.jpg" alt="">
                    <a href="#">Đăng nhập</a>
                </div>
            </div>
        </div>
        <div class="navigation">
            <div class="menu">
                <ul>
                    <li>NÓNG</li>
                    <li>MỚI</li>
                    <li>VIDEO</li>
                    <li>CHỦ ĐỀ</li>
                    <li>SEA Games 31</li>
                    <li> Năng lực tích cực</li>
                    <li>Khám phá Việt Nam</li>
                    <li>Khám phá thế giới</li>
                    <li>
                        <i class="fas fa-bars"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content_sidebar">
            <div class="content">
                <a href="#">KINH DOANH</a>
                <h1>Giá xăng lập kỷ lục mới, vượt 30.000 đồng/lít</h1>
                <p><i><strong>Thanh Thương</strong> Thứ hai, 23/5/2022 14:29 (GMT+7)</i></p>
                <h3>Từ 15h ngày 23/5, xăng E5 RON 92 tăng 680 đồng/lít, xăng RON 95 tăng 670 đồng/lít. Đây là lần tăng
                    thứ 10 của mặt hàng này, đưa giá xăng trong nước tiếp tục xác lập kỷ lục mới.</h3>
                <p>Chiều 23/5, liên Bộ Tài chính - Công Thương quyết định điều chỉnh giá bán lẻ xăng dầu do kỳ điều hành
                    ngày 21/5 trùng vào ngày nghỉ.</p>
                <p>
                    Theo đó, xăng E5 RON 92 tăng 680 đồng/lít, giá xăng RON 95 được điều chỉnh tăng 670 đồng/lít. Sau
                    khi tăng, mức giá bán lẻ tối đa với xăng E5 RON 92 là 29.630 đồng/lít và xăng RON 95 là 30.650
                    đồng/lít.
                </p>
                <p>
                    Như vậy, đây là đợt tăng thứ 4 liên tiếp và là đợt tăng thứ 10 của mặt hàng này chỉ trong hơn 5
                    tháng đầu năm 2022. Hiện, giá bán lẻ các loại xăng đã lập đỉnh mới, riêng xăng RON 95 vượt mốc
                    30.000 đồng/lít, cao hơn mức thiết lập kỳ điều hành 11/5 vừa qua.
                </p>
                <p>
                    Đáng chú ý, giá các mặt hàng dầu tại kỳ điều hành lần này được điều chỉnh giảm 760-1.100 đồng/lít.
                    Theo đó, giá bán đối với mặt hàng dầu diesel 25.550 đồng/lít, dầu hỏa là 24.400 đồng/kg, dầu mazut
                    là 20.590 đồng/kg.
                </p>
                <img src="https://nld.mediacdn.vn/291774122806476800/2021/7/12/screen-shot-2021-07-12-at-31206-pm-16260775504041572512264.png"
                    alt="">
                <p>
                    Tính đến cuối tháng 3, số dư quỹ bình ổn giá xăng dầu trong nước đã rơi xuống mức âm gần 170 tỷ
                    đồng. Cập nhật đến ngày 11/5, Petrolimex cho biết quỹ bình ổn tại doanh nghiệp âm 53 tỷ đồng, PV Oil
                    âm 1.030 tỷ đồng...
                </p>
                <p>
                    Từ kỳ điều hành ngày 11/5 đến nay, giá dầu thô thế giới dao động quanh mức 110 USD/thùng, tuy nhiên
                    giá xăng trong nước lại liên tục tăng, thiết lập mức giá kỷ lục mới mặc dù thuế bảo vệ môi trường
                    với xăng vừa được giảm 2.000 đồng/lít.
                </p>
                <p>
                    Bộ Công Thương cho biết giá xăng dầu trong nước không dựa vào giá dầu thô thế giới mà phụ thuộc vào
                    giá xăng dầu thành phẩm qua quá trình lọc của đối tác cung cấp xăng dầu từ các nước khác, trong đó
                    chủ yếu là từ Singapore. Chính vì vậy, sản lượng xăng sau khi lọc chỉ tương đương 50% lượng dầu thô
                    ban đầu.
                </p>
            </div>
            <div class="sidebar">
                <h3><i>Đọc tiếp</i></h3>
                <div>
                    <img src="https://znews-photo.zingcdn.me/w210/Uploaded/bfjysesfzyr/2022_05_04/c67bce5a38e0f4beadf1_1_.jpg"
                        class="img" alt="">
                    <a href="#">Lùi ngày điều chỉnh giá xăng</a>
                </div>
                <div>
                    <img src="https://znews-photo.zingcdn.me/w210/Uploaded/bfjysesfzyr/2022_05_04/1x_1_1_.jpg"
                        class="img" alt="">
                    <a href="#">Giá xăng sẽ vượt 30.000 đồng/lít?</a>
                </div>
                <div>
                    <img src="https://znews-photo.zingcdn.me/w210/Uploaded/bfjysesfzyr/2022_05_04/1x_1_1_.jpg"
                        class="img" alt="">
                    <a href="#">Nhà máy lọc dầu Nghi Sơn cam kết cung ứng xăng dầu trong quý II</a>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-sm-2">
                    <img src="https://baomoi.com/images/default-skin/bm-logo.png" style="width:120px; height: auto;">
                </div>
                <div class="col-sm-2">
                    <p style="margin-bottom: 20px; font-size: 20px;"><strong>LIÊN HỆ</strong></p>
                    <p><a href="">Giới thiệu</a></p>
                    <p><a href="">Điều khoản sử dụng</a></p>
                    <p><a href="">Quảng cáo</a></p>
                </div>

                <div class="col-sm-2">
                    <p style="font-size: 20px;"><strong>KHÁC</strong></p>
                    <p><a href="">Tổng hợp</a></p>
                </div>

                <div class="col-sm-6">
                    <p>Giấy phép số 1818/GP-TTĐT do Sở Thông tin và Truyền thông Hà Nội cấp ngày 05/05/2017<br>
                       Đơn vị chủ quản: Công ty Cổ phần Công nghệ EPI * Chịu trách nhiệm: Võ Quang<br>
                       Địa chỉ: Tầng 5, Tòa nhà Báo Sinh Viên VN, D29 Phạm Văn Bạch, Yên Hòa, Cầu Giấy, Hà Nội<br>
                       Tel: (024) 3-212-3232, số máy lẻ 6666. contact.baomoi@epi.com.vn<br>
                       BÁO MỚI tổng hợp và sắp xếp các thông tin tự động bởi chương trình máy tính</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>